@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --orangeColor: #fe5621;
  --blueColor: #0d47a1;
  --textColor: #656565;
  --grayColor: #f6f6f6;
  --grayBg: #212524;
}

body {
  overflow-x: hidden !important;
  /* text-transform: capitalize; */
  font-family: "Poppins", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* default classes */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 320px) {
  h4 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 320px) {
  h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  h6 {
    font-size: 0.875rem;
  }
}

a.active {
  font-weight: bold;
  color: var(--orangeColor);
}

.main {
  min-height: calc(100vh - 338px);
}

@media screen and (max-width: 768px) {
  .main {
    min-height: calc(100vh - 540px);
  }
}

/* Hide spinner arrows for input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  /* text-transform: capitalize !important; */
}

/* ============== mega menu animation classes=========== */
.mega-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.mega-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms ease, transform 250ms ease;
}

.mega-exit {
  opacity: 1;
  transform: translateY(0);
}

.mega-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease, transform 200ms ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
